header h1 {
    font-size:2.00vw;
    text-align:center;
}

header p{
    font-size:1.00vw;
    text-align:center;
    padding-bottom: 20px;
}

.btn-group button {
/*    display:block; */
    border: 1px solid #024e76;


    cursor: pointer; 
    position:relative;
    width: 15%; 
    display: block;
    margin: 0 auto;
    margin-bottom: 15px; 
    height: 30px;
    background-color: indigo;
    color: white;
    text-align: left;
}

.btn-group buttst {
    /*    display:block; */
        border: 1px solid #024e76;
    
    
        cursor: pointer; 
        position:relative;
        width: 15%; 
        display: block;
        margin: 0 auto;
        margin-bottom: 15px; 
        height: 30px;
        background-color: indigo;
        color: white;
        text-align: left;
}

/*[data-size="large"] {*/
[data-state="visible"] {
    visibility: visible;
    /*display:block; */
}

[data-state="hidden"] {
    visibility:hidden;
    /*display:none;*/
}

