header h1 {
    font-size:2.00vw;
    text-align:center;
}

header p{
    font-size:1.00vw;
    text-align:center;
    padding-bottom: 20px;
}

.showScore header p{
    font-size:1.00vw;
    text-align:center;
    /* padding-bottom: 20px; */
}

.btn-group button {
/*    display:block; */
    border: 1px solid #024e76;


    cursor: pointer; 
    position:relative;
    width: 15%; 
    display: block;
    margin: 0 auto;
    margin-bottom: 15px; 
    height: 30px;
    background-color: indigo;
    color: white;
    text-align: left;
}

.btn-group buttst {
    /*    display:block; */
    border: 1px solid #024e76;


    cursor: pointer; 
    position:relative;
    width: 15%; 
    display: block;
    margin: 0 auto;
    margin-bottom: 15px; 
    height: 30px;
    background-color: indigo;
    color: white;
    text-align: left;
}

#timer #question {
    margin-bottom: 0px; 
    padding-bottom: 0px;
    text-align:right;
}

#question_result {
    font-size:2.00vw;
    
}


/*[data-size="large"] {*/
[data-state="visible"] {
    visibility: visible;
    /*display:block; */
}

[data-state="hidden"] {
    visibility:hidden;
    /*display:none;*/
}

[data-result="Good"] {
    color:white;
    background-color: rgb(4, 82, 4);
}

[data-result="Wrong"] {
    color:white;
    background-color: rgb(255, 0, 0);
}

[data-result="None"] {
    color:white;
    background-color: rgb(255, 255, 255);
}